body {

    background-color: #8BBCCC;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Navbar- Navigation bar of the website */

.navigation{
    display:flex;
    flex-direction: column;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: aqua;
    order: 1;    
    
}

.links{
    text-decoration: none;
    color:#797f98;

}
.links:hover{
    color: aqua;
    transition: 0.6s ease-in-out;
}
.items{
    order: 2;
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    font-weight: bold;
    color:#797f98;
    font-family:"Times New Roman", serif;   
    text-decoration: none;
    font-size: 1.2rem;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: blue;
}

.logo{
    width:3rem;
    background-color: black;
    border-radius: 100%;
}

.sign-up{
    top: 20px;
    right: 510px;
    position: absolute;
    text-decoration: none;
    color: azure;
    border: 2px solid transparent;
    border-radius: 20px;  /* border curves*/
    background: linear-gradient(#414659,#414659),       /*inside the box*/
    radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.sign-up span{
    display: block;
    padding: 8px 22px;
}

.sign-up:hover{
    color: #47d7ff;
}


.menubar{
    height: 20%;
    word-spacing: 30px;
    float: right;
    padding-top: 30px;
    padding-right: 40px;
}

.after{
    color:#797f98;
    font-family:"Times New Roman", serif;   
    text-decoration: none;
    font-size: 20px;
}
/* content */
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .main-content{
    position: absolute;
} */

.content-title{
    /*font-family: cursive;*/
    padding-left: 80px;
    color: rgba(255, 255, 255, 0.904);  
    font-family: 'IBM Plex Serif', serif;
    font-size: 40px;
    padding-top: 60px;
}

.content{
    padding-left: 80px;
    color: rgb(228, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

.pic{
    float:right;
    padding-top: 20px;
}

/* buttons */

.play-btn{
    margin-left: 80px;
    margin-top: 10px;
    color: white;
    border: 2px solid transparent;
    border-radius: 50px; 
    background: linear-gradient(#414659,#414659),
    radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    display: inline-flex;
    width: 11rem; 
}
.play-btn:hover{
    background: radial-gradient(circle at top left,#fd00da,#19d7f8);
    border: 2px;
}
.btn{
    padding: 12px 15px;
    color: white;
}

.more{
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.75rem;
    
    letter-spacing: 1.2px;
    text-decoration: none;
    color: yellow;
    margin-left: 0.1rem;

}



.ul{
    margin: 14px;
    display: inline-flex;
}
/* copyright */
.copyright{
    background-color: rgb(15, 15, 18);
    padding: 1rem 0;
    position: absolute;
    width: 100vw;
    font-size: medium;
    text-align: center;
    color:aliceblue ;
}
.bold{
    font-weight: 700;
}











































.nike{

    font-family: Helvetica, sans-serif;

    font-size: 2rem;

    color: aqua;

    order: 1;    

    

}
