body {

    background-color: #414659;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: blue;
}

.logo{
    width:20px;
}

.sign-up{
    top: 20px;
    right: 510px;
    position: absolute;
    text-decoration: none;
    color: azure;
    border: 2px solid transparent;
    border-radius: 20px;  /* border curves*/
    background: linear-gradient(#414659,#414659),       /*inside the box*/
        radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.sign-up span{
    display: block;
    padding: 8px 22px;
}

.sign-up:hover{
    color: #47d7ff;
}


.menubar{
    height: 20%;
    word-spacing: 30px;
    float: right;
    padding-top: 30px;
    padding-right: 40px;
}

.after{
    color:#797f98;
    font-family:"Times New Roman", serif;   
    text-decoration: none;
    font-size: 20px;
}


.main-content{

    position: absolute;
}

.content-title{
    /*font-family: cursive;*/
    padding-left: 80px;
    color: rgba(255, 255, 255, 0.904);  
    font-family: 'IBM Plex Serif', serif;
    font-size: 43px;
    padding-top: 60px;
}

.content{
    padding-left: 80px;
    color: rgb(228, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.pic{
    float:right;
    padding-top: 20px;
}

.play-btn{
    margin-left: 80px;
    margin-top: 10px;
    color: white;
    border: 2px solid transparent;
    border-radius: 50px; 
    background: linear-gradient(#414659,#414659),
    radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    display: inline-flex; 
}

.btn{
    padding: 12px 15px;
    color: white;
}

.more{
    cursor: pointer;
    font-size: 9px;
    text-decoration: none;
    color: yellow;
    margin-left: 20px;

}



.ul{
    margin: 14px;
    display: inline-flex;
}

#copyright{
    background-color: rgb(15, 15, 18);
    bottom: 0;
    padding: 1rem 0;
    position: absolute;
    width: 100vw;
    font-size: medium;
    text-align: center;
    color:aliceblue ;
}
.bold{
    font-weight: 700;
}